body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #3081D0;
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #3081D0;
  padding: 40px 20px;
  border-radius: 5px;
}

h2 {
  font-size: 3em;
  color: #ffff;
  -webkit-text-transform: uppercase;
  letter-spacing: .1em;
}

#count {
  height: 30px;
  text-align: center;
  font-size: 2em;
  color: #ffff
}

.resetBtn {
  padding: 15px 20px;
  width: 100%;
  color: #1640D6;
  background-color: #C5FFF8;
  border: none;
  font-size: 1.5em;
  letter-spacing: .1em;
  -webkit-text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
}

.resetBtn:focus {
  color: #E26EE5;
  background-color: #250747;
}

.game {
  width: 550px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  -webkit-transform-style: preserve-3d;
  perspective:  500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffff;
  font-size: 3em;
  border-radius: 5px;
  cursor: pointer;
  margin: .2rem;

  -webkit-transform: rotateY(180deg);
  transition: .5s;
}

.item::after {
  content: ".";
  font-size: .1em;
  position: absolute;
  inset: 0;
  background-color: #F3F8FF;
  transition: .5s;
  -webkit-transform:  rotateY(0deg);
  border-radius: 5px;
  backface-visibility: hidden;
}

.item.boxOpen {
  -webkit-transform:  rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after
{
  -webkit-transform: rotateY(180deg);
}


@media screen and (max-width: 600px) {

  body {
    background-color: #3081D0;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 20px;
  }

  .game {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-gap: 10px;
    -webkit-transform-style: preserve-3d;
    perspective:  300px;
  }
  

  .item {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin: .1rem;
  }
  
  h2 {
    text-align: center;
  }
  
  span {
    font-size: 1.5em;
    margin-bottom: 2rem;
  }

  .resetBtn {
    margin-top: 3rem;
}


}